* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
  padding: 20px;
}


section {
  position: relative;
}


#input {
  position: absolute;
  top: 60px;
  left: 280px;
}


section input {
  border: none;
  background: #ebf0ff5d;
  width: 450px;
  height: 50px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: black;
}


section input::placeholder{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: black;
}


#posicao {
  position: absolute;
  top: 410px;
  left: 260px;
  margin: auto;
}


#alerta img {
  display: block;
  position: absolute;
  left: -10px;
}


#alerta {
  padding: 8px;
  font-family: 'Inter';
  color: #6c7986;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}


#button {
  display: flex;
}


#buton_criptografia {
  width: 280px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 22px;
  font-family: 'Inter';
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}


#buton_criptografia:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}


#buton_descriptografia{
  width: 280px;
  height: 50px;
  background: black;
  border: 1px solid black;
  color: white;
  border-radius: 22px;
  font-family: 'Inter';
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


#buton_descriptografia:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/*Botão de copia*/
#copiar {
  width: 280px;
  height: 50px;
  padding: 24px;
  background: #FFFFFF;
  color: black;
  border: 1px solid black;
  border-radius: 22px;
  font-family: 'Inter';
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 108px;
  margin-left: 20px;
}

#copiar:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}


aside {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}  


#solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 10px;
}


#solucao img{
  width: 60%;
}


#solucao h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #343A40;
    margin-top: 20px;
    margin-bottom: 7px;
}


#solucao p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}


#escrita {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 10px;
  display: none;
}


#show {
  position: absolute;
  top: 30px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #495057;
  border: none;
  width: 320px;
  height: 420px;
  border-radius: 10px;
  margin-left: 10px;
  resize: none;
}

footer {
    color: black;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 510px;
}
a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    }
a:hover {
    color: #faa8a8;



@media (min-width: 601px) and (max-width: 1024px) {
  #solucao img {
    display: none;
  }


  section input {
    width: 300px;
  }


  #input {
    position: absolute;
    top: 70px;
    left: 50px;
  }


  aside {
    position: absolute;
    top: 550px;
    left: 25px;
  }


  #solucao {
    height: 120px;
    width: 555px;
  }


  #solucao h3 {
    margin-top: 0px;
  }


  #buton_criptografia {
    margin-bottom: 15px;
    width: 350px;
    height: 60px;
  }


  #buton_descriptografia {
    width: 350px;
    height: 60px;
  }


  #escrita {
    height: 200px;
    width: 555px;
  }


  #show {
  width: 400px;
  height: 100px;
  top: 10px;
  }


  #copiar {
    bottom: 140px;
  }


  #posicao {
    position: absolute;
    top: 330px;
    left: 50px;
  }


  #button {
    display: flex;
    flex-direction: column;
  }
}



@media (min-width: 375px) and (max-width: 600px) {
  aside img {
    display: none;
  }


  section input {
    width: 300px;
  }


  #input {
    position: absolute;
    top: 100px;
    left: 50px;
  }


  aside {
   position: absolute;
   top: 600px;
   left: 40px;
  }


  #solucao {
    height: 140px;
    width: 390px;
    border-radius: 30px;
  }


  #solucao h3 {
    margin-top: 0px;
  }


  #buton_criptografia {
    margin-bottom: 15px;
    width: 350px;
    height: 60px;
  }


  #buton_descriptografia {
    width: 350px;
    height: 60px;
  }


  #escrita {
    height: 900px;
    width: 400px;
  }


  #show {
  width: 350px;
  height: 90px;
  top: 10px;
  }


  #copiar {
    bottom: 10px;
  }


  #posicao {
    position: absolute;
    top: 380px;
    left: 30px;
  }


  #button {
    display: flex;
    flex-direction: column;
  }
}